<launch>
	<!-- Launch the file server to listen on port 9090 -->
	<include file="$(find file_server)/launch/ros_sharp_communication.launch">
		<arg name="port" value="9090" />
	</include>

	<!-- Find the jackal description -->
	<arg name="urdf_file" default="$(find xacro)/xacro.py '$(find jackal_description)/urdf/jackal.urdf.xacro'" />
	
	<!-- Set the robots name in the param server -->
	<param name="robot/name" value="Jackal" />
	
	<!-- Write the urdf to the param server -->
	<param name="robot_description" command="$(arg urdf_file)" />

</launch>
