<!--
    
    Microsoft IROS Demo 2 launch file
    Author: Eric

-->

<launch>
    <!--  Launch RosBridge  -->
	<include file="$(find file_server)/launch/ros_sharp_communication.launch">
		<arg name="port" value="9090" />
	</include>

    <!--  Write URDF to param server  -->
	<arg name="urdf_file" default="$(find xacro)/xacro.py '$(find jackal_description)/urdf/jackal.urdf.xacro'" />
	<param name="robot/name" value="Jackal" />
	<param name="robot_description" command="$(arg urdf_file)" />

    
    <!--  Start gazebo  -->
	<include file="$(find jackal_gazebo)/launch/jackal_world.launch" pass_all_args="true"/>
    <!--  Start Rviz  -->
	<include file="$(find jackal_viz)/launch/view_robot.launch"/>
    <!--  Start Navigation  -->
	<include file="$(find jackal_navigation)/launch/odom_navigation_demo.launch"/>
    

</launch>