<!--
    
    Microsoft IROS Demo 2 launch file
    Author: Eric

-->

<launch>
	<!--<group ns=""> -->
	    <!--  Launch RosBridge  -->
		<include file="$(find file_server)/launch/ros_sharp_communication.launch">
			<arg name="port" value="9090" />
		</include>

	    <!--  Write URDF to param server  -->
		<arg name="urdf_file" default="$(find xacro)/xacro.py '$(find jackal_description)/urdf/jackal.urdf.xacro'" />
		<param name="robot/name" value="Jackal" />
		<param name="robot_description" command="$(arg urdf_file)" />


	
	  <!-- Configuration of Jackal which you would like to simulate.
	       See jackal_description for details. -->
	  <arg name="config" default="$(arg default_config)" />

	  <!-- Optionally enable teleop for the simulation -->
	  <arg name="joystick" default="true" />
	
	    <!--  Start Navigation  -->
		<include file="$(find jackal_navigation)/launch/odom_navigation_demo.launch"/>
	    <!--  Start gazebo  -->
		<include file="$(find ms_jackal_demo)/launch/jackal_custom_empty_world.launch" pass_all_args="true">
		    <arg name="x" value="0" />
		    <arg name="y" value="0" />
		    <arg name="z" value="1.0" />
		    <arg name="yaw" value="0" />
		    <arg name="config" value="$(arg config)" />
		    <arg name="joystick" value="$(arg joystick)" />
		  </include>
	<!--</group> -->
</launch>
